.p {
  color: #707070;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 2;
  grid-column-gap: 10px;
}
.buttonProducts{
    display: flex;
    justify-content: center;
}
.button {
  width: 260px;
  height: 39px;
  color: #707070;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
}
